<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title><%= product.name %></title>
  </head>
  <body>
    <h1>Edit Product's Information</h1>
    <form action="/products/<%= product.id %>?_method=PUT" method="post">
      <label for="name">Product Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Product name"
        value="<%= product.name %> "
      />
      <label for="price">Price:</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Price"
        value="<%= product.price%>"
      />
      <label for="category">Select Category</label>
      <select name="category" id="category">
        <% for (let tag of categories) {%>
           <option value="<%= tag %>" <%= product.category === tag? "selected" : "" %>><%= tag %></option> 
        <%  }  %>
      </select>
      <button type="submit">Edit</button>
    </form>
    <button><a href="/products/<%= product.id %> ">Back</a></button>
  </body>
</html> 
