<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= farm.name %></title>
  </head>
  <body>
    <h1><%= farm.name %></h1>
    <h3>City: <%= farm.city %></h3>

    <p>Email: <%= farm.email %></p>

    <div>
      Products
      <ul>
        <% for(let product of farm.products){ %>
        <li><a href="/products/<%= product._id %>"><%= product.name %> </a></li>
        <% } %>
      </ul>
    </div>

    <a href="/farms/<%= farm.id %>/products/new "
      ><button>Add Product</button></a
    >
    <a href="#"><button>Products list</button></a>

    <a href="/farms"><button>All Farms</button></a>

    <a href="/farms/<%= farm.id %>/edit"><button>Edit</button></a>

    <form action="/farms/<%= farm.id %>?_method=DELETE" method="post">
      <button type="submit">Remove Farm</button>
    </form>
  </body>
</html>
