<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %></title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <h3>Price: <%= product.price %> auro</h3>

    <p>
      Tags :
      <a href="/products?category=<%= product.category %> "
        ><%= product.category %></a
      >
    </p>
    <button><a href="/products">All Products</a></button>
    <button><a href="/products/<%= product.id %>/edit">Edit</a></button>
    <form action="/products/<%= product.id %>?_method=DELETE" method="post">
      <button type="submit">Destroy</button>
    </form>
  </body>
</html>
